In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.tree import DecisionTreeClassifier
warnings.filterwarnings("ignore")

In [5]:
vgsales = pd.read_csv("/home/mishal/Documents/datasets/vgsales.csv")
vgsales.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [19]:
gu=vgsales.drop(columns=['Global_Sales','EU_Sales','Other_Sales','NA_Sales','JP_Sales'])
gus=vgsales['Global_Sales']
gus

0        82.74
1        40.24
2        35.82
3        33.00
4        31.37
         ...
16593     0.01
16594     0.01
16595     0.01
16596     0.01
16597     0.01
Name: Global_Sales, Length: 16598, dtype: float64

In [20]:
gu

,Rank,Name,Platform,Year,Genre,Publisher
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo
...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo

In [46]:
X = game_data[['Platform', 'Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].values

y = game_data['Global_Sales'].values

NameError: name 'game_data' is not defined

In [45]:


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=45)

NameError: name 'X' is not defined